.pgk .kt-gratitude{width:36px;height:36px;min-width:initial;min-height:initial}.pgk .kt-gratitude .q-icon{font-size:20px}.pgk .kt-gratitude__badge{top:unset;bottom:-5px;right:0;box-shadow:0 1px 2px #00000029}
