.pgk .kt-select{font-size:14px;line-height:18px}@media screen and (min-width: 1439px){.pgk .kt-select{font-size:14px;line-height:18px}}.pgk .kt-select .q-field__marginal{font-size:10px;color:var(--q-app-grey-8)}
