.pgk .kt-widget-layout-text {
    font-size: 12px;
    line-height: 19px
}

@media screen and (min-width: 1439px) {
    .pgk .kt-widget-layout-text {
        font-size: 15px;
        line-height: 20px
    }
}
