:root {
  --kt-gratitude-post-user-border-color: var(--c-gratitude-post-user-border-color, var(--kt-ui-white));
  --kt-gratitude-post-title-color: var(--c-gratitude-post-title-color, var(--kt-ui-text-primary));
  --kt-gratitude-post-time-color: var(--c-gratitude-post-time-color, var(--kt-ui-text-secondary));
}
