.phonebook-header {
  display: flex;
  margin: 0 -5px;
}
@media screen and (max-width: 768px) {
  .phonebook-header {
    flex-wrap: wrap;
  }
}
.phonebook-header-wrapper {
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #f5f7f9;
}

.intranet-user-list-userpic {
  display: block;
  position: relative;
  margin: 10px auto 10px auto;
  width: 50px;
  height: 50px;
  background-size: 28px 31px;
  border-radius: 100%;
  white-space: nowrap;
}

.intranet-user-list-userpic.ui-icon > i {
  background-color: rgba(82, 92, 105, 0.23);
}

.intranet-user-list-status,
.intranet-user-list-role {
  clear: both;
  overflow: hidden;
  color: #828b95;
  font-size: 10px;
  font-family: "OpenSans-SemiBold", Helvetica, Arial, sans-serif;
}

.intranet-user-list-status:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin: 2.8px 4px 0 0;
  overflow: hidden;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #fff;
}

.intranet-user-list-status-online:before {
  background: #9dcf00;
}

.intranet-user-list-status-offline:before {
  background: #ff5752;
}

.main-grid-cell-content a.ui-link:hover {
  text-decoration: unset;
}

.intranet-user-list-lock-icon {
  min-height: 12px;
  width: 9px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgOSAxMiI+ICA8cGF0aCBmaWxsPSIjMjhCQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk1Miw1IEw5LDUgTDksMTIgTDAsMTIgTDAsNSBMMS4wNTIsNSBMMS4wNTIsMy40MTIgQzEuMTE1MzMxNjcsMS41NTIzMjI3NCAyLjY0MTI0NDY2LDAuMDc3NDkwNDI1MSA0LjUwMiwwLjA3NzQ5MDQyNTEgQzYuMzYyNzU1MzQsMC4wNzc0OTA0MjUxIDcuODg4NjY4MzMsMS41NTIzMjI3NCA3Ljk1MiwzLjQxMiBMNy45NTIsNSBaIE02Ljk5NjQyNzgzLDUgTDcuMDA4LDMuNDEyIEM2LjkwMzAwMjI5LDIuMDc3Mjc1NzMgNS44MzU3NDU5MywxLjAyMTA4MzQ0IDQuNSwwLjkzIEMzLjE2NDI1NDA3LDEuMDIxMDgzNDQgMi4wOTY5OTc3MSwyLjA3NzI3NTczIDEuOTkyLDMuNDEyIEwyLjAwNTA0MDUzLDUgTDYuOTk2NDI3ODMsNSBaIE01LjAxOSw4Ljg3OSBMNS4wMTksMTAuMTY2IEwzLjk4MSwxMC4xNjYgTDMuOTgxLDguODc5IEMzLjc4NzY5NDg0LDguNzI1MzU2MDEgMy42NzUwMzA3Nyw4LjQ5MTkyNzg1IDMuNjc1LDguMjQ1IEMzLjY3NSw3Ljc4OTM2NTA4IDQuMDQ0MzY1MDgsNy40MiA0LjUsNy40MiBDNC45NTU2MzQ5Miw3LjQyIDUuMzI1LDcuNzg5MzY1MDggNS4zMjUsOC4yNDUgQzUuMzI0OTY5MjMsOC40OTE5Mjc4NSA1LjIxMjMwNTE2LDguNzI1MzU2MDEgNS4wMTksOC44NzkgTDUuMDE5LDguODc5IFoiLz48L3N2Zz4=) no-repeat center;
  padding-left: 20px;
}

.popup-window-buttons .main-grid-settings-window-actions-item-button {
  display: inline-flex;
  color: var(--ui-btn-color);
}

.main-grid-settings-window-for-all .main-grid-settings-window-for-all-label,
.popup-window-buttons .main-grid-settings-window-actions-item-reset {
  color: #535c69;
}

.main-grid-settings-window-buttons-wrapper {
  display: flex;
  align-items: center;
}

.main-grid-settings-window,
.main-grid-settings-window-list {
  padding: 0;
}

.main-grid-settings-window .popup-window-buttons {
  justify-content: center;
}

.ui-btn.main-grid-settings-window-actions-item-button {
  color: var(--ui-btn-color);
  font-family: var(--kt-ui-btn-font-family);
  font-weight: var(--kt-ui-btn-font-weight);
}

.ui-btn.main-grid-settings-window-actions-item-button:hover {
  color: var(--ui-btn-color-hover);
}

.ui-btn.main-grid-settings-window-actions-item-button:active {
  color: var(--ui-btn-color-active);
}

.main-grid-cell-content .crm-widget-employee-change {
  display: none;
}

@media (max-width: 768px) {
  .main-grid-panel-cell {
    padding: 6px;
  }
}
