:root {
  --kt-popover-padding: var(--c-popover-padding, var(--kt-ui-offset-lg));
  --kt-popover-border-radius: var(--c-popover-border-radius, var(--kt-ui-border-radius-lg));
  --kt-popover-bg: var(--c-popover-bg, var(--kt-ui-layer-01));
}
