.q-field {
  --kt-ui-field-size: var(--kt-ui-field-size-md);
}

.q-field.q-field--dense {
  --kt-ui-field-size: var(--kt-ui-field-size-sm);
}

.q-field .q-field__control {
  height: var(--kt-ui-field-size);
}

.q-field .q-field__marginal {
  height: calc(var(--kt-ui-field-size) - (2 * var(--kt-ui-field-border-width)));
  color: var(--kt-ui-field-color);
}

.q-field--auto-height .q-field__control,
.q-field--auto-height .q-field__native,
.q-field--auto-height .q-field__marginal {
  height: auto;
}

.q-field--auto-height .q-field__control,
.q-field--auto-height.q-field--dense .q-field__control {
  min-height: var(--kt-ui-field-size);
}

.q-field--auto-height .q-field__native,
.q-field--auto-height .q-field__marginal,
.q-field--auto-height.q-field--dense .q-field__native,
.q-field--auto-height.q-field--dense .q-field__marginal {
  min-height: calc(var(--kt-ui-field-size) - (2 * var(--kt-ui-field-border-width)));
}

.q-field--standard .q-field__control {
  padding: 0 12px;
  border: var(--kt-ui-field-border-width) solid var(--kt-ui-field-border-color);
  border-radius: var(--kt-ui-field-border-radius);
  background-color: var(--kt-ui-field-bg-color);
}

.q-field--error.q-field--standard .q-field__control {
  border-color: var(--kt-ui-border-error);
}

.q-field--disabled.q-field--standard .q-field__control {
  border-color: var(--kt-ui-field-color-disabled);
}

.q-field--standard .q-field__control::before,
.q-field--standard .q-field__control::after {
  display: none;
}

.q-field--standard.q-field--highlighted .q-field__control {
  box-shadow: none;
  background-color: var(--kt-ui-field-bg-color);
}

.q-field--standard.q-field--focused .q-field__control {
  border-color: var(--kt-ui-field-border-color-focus);
}

.q-field.q-field--standard .q-field__bottom,
.q-field.q-field--standard.q-field--dense .q-field__control {
  padding-left: 12px;
  padding-right: 12px;
}

.q-field.q-field--standard .q-field__control-container {
  height: revert;
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
  padding-top: 0;
}

.q-field__label {
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--kt-ui-label-title-font-size);
  line-height: var(--kt-ui-label-title-line-height);
  letter-spacing: var(--kt-ui-label-title-letter-space);
  color: var(--kt-ui-label-title-color);
}

.q-field--float .q-field__label {
  display: none;
}

.q-field__marginal {
  height: var(--kt-ui-field-size);
  font-size: 20px;
}

.q-field--dense .q-field__marginal {
  height: var(--kt-ui-field-size-sm);
  font-size: 16px;
}

.q-field__native,
.q-field__prefix,
.q-field__suffix,
.q-field__input {
  padding: 0;
  color: var(--kt-ui-field-color);
}

.q-field__native,
.q-field__native::placeholder {
  font-size: 14px;
  letter-spacing: 0.16px;
}

.q-field__native::placeholder {
  color: var(--kt-ui-field-placeholder-color);
}

.q-field__after,
.q-field__append {
  padding-left: 8px;
}
