.kt-link--secondary-theme {
  --ui-link-color: var(--kt-ui-link-secondary);
  --ui-link-color-hover: var(--kt-ui-link-secondary-hover);
  --ui-link-color-active: var(--kt-ui-link-secondary-active);
  --ui-link-color-focus: var(--kt-ui-link-secondary-focus);
  --ui-link-color-disabled: var(--kt-ui-link-secondary-disabled);
}
