.kt-btn-link--primary-theme {
  --kt-btn-color: var(--kt-ui-link-primary);
  --kt-btn-color-hover: var(--kt-ui-link-primary-hover);
  --kt-btn-color-active: var(--kt-ui-link-primary-active);
  --kt-btn-color-disabled: var(--kt-ui-link-primary-disabled);
}
