.kt-tag--gray-theme.kt-tag--inline {
  --kt-tag-bg: var(--kt-ui-tag-gray-80);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-gray-30-hover);

  &.q-chip--selected {
    --kt-tag-bg: var(--kt-ui-tag-gray-80);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-gray-80-hover);
  }
}
