.kt-tag--gray-theme.q-chip--outline {
  --kt-tag-color: var(--kt-ui-tag-gray-80);

  &:not(.q-chip--selected).q-chip--clickable:hover {
    --kt-tag-color: var(--kt-ui-tag-gray-80-hover);
  }

  &.q-chip--selected {
    --kt-tag-color: var(--kt-ui-white);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-gray-80-hover);

    border-color: var(--kt-ui-tag-gray-80) !important;
    background-color: var(--kt-ui-tag-gray-80) !important;
  }
}
