.kt-btn-link--secondary-theme {
  --kt-btn-color: var(--kt-ui-link-secondary);
  --kt-btn-color-hover: var(--kt-ui-link-secondary-hover);
  --kt-btn-color-active: var(--kt-ui-link-secondary-active);
  --kt-btn-color-disabled: var(--kt-ui-link-secondary-disabled);
}
