.kt-tag--purple-theme {
  --kt-tag-bg: var(--kt-ui-tag-purple-20);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-purple-20-hover);

  &.q-chip--selected {
    --kt-tag-color: var(--kt-ui-white);
    --kt-tag-bg: var(--kt-ui-tag-purple-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-purple-50-hover);
  }
}
