.kt-btn-link--dark-theme {
  --kt-btn-color: var(--kt-ui-link-dark);
  --kt-btn-color-hover: var(--kt-ui-link-dark-hover);
  --kt-btn-color-active: var(--kt-ui-link-dark-active);
  --kt-btn-color-disabled: var(--kt-ui-link-dark-disabled);
}
