@use '../../../../../../../src/styles/vars/mixins' as *;
@use "../../../../../../../src/styles/vars/foundation/branches";
@use "../../../../../../../src/styles/vars/transition";
@use "../../../../../../../src/styles/vars/breakpoints";

.branch-detail {
  &-section {
    row-gap: 30px;
    position: relative;

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-size: 15px;
      line-height: 24px;
      overflow: hidden;

      .pgk-birthdays {
        background: #fff;
      }

      .pgk-birthdays-slider {
        width: 75%;
      }
    }
  }

  &-block {
    border-radius: var(--kt-ui-layout-border-radius-default);
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    background-color: var(--kt-ui-white);

    &.leaders-block {
      background-color: #eeeaea;
    }

    @media screen and (min-width: breakpoints.$md) {
      padding: 30px;
    }

    &-header {
      margin-bottom: 30px;
    }

    &-title {
      font-size: 16px;
      line-height: 28px;
      font-weight: 700;

      @media (min-width: breakpoints.$md) {
        font-size: 20px;
      }
    }

    &-content-inner {
      max-width: 700px;

      &-width {
        max-width: 100%;
      }
    }

    .base-slider-button {
      &.ui-btn.kt-btn-icon {
        --ui-btn-background: var(--kt-ui-white);
        --ui-btn-background-hover: var(--kt-ui-gray-10-hover);
        --ui-btn-background-active: var(--kt-ui-gray-30);
        --ui-btn-border-color: transparent;
        --ui-btn-border-color-hover: transparent;
        --ui-btn-border-color-active: transparent;

        &.events-slider-button {
          --ui-btn-background: var(--kt-ui-gray-20);
        }

        &:after {
          width: var(--kt-ui-size-md2);
          height: var(--kt-ui-size-md2);
          background: var(--kt-ui-icon-primary);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover,
        &:active {
          &:after {
            background: var(--kt-ui-purple-60);
          }
        }

        &[data-glide-btn-prev] {
          --kt-mask-icon: var(--kt-ui-icon-chevron-left);
        }

        &[data-glide-btn-next] {
          --kt-mask-icon: var(--kt-ui-icon-chevron-right);
        }
      }
    }
  }

  &-manager-card {
    display: flex;
    align-items: center;

    &-hr {
      width: 100%;
      height: 1px;
      margin: 30px 0;
      display: block;
      border: none;
      background-color: #e9e9e9;
    }

    &-avatar-wrapper {
      flex-shrink: 0;
      position: relative;
      overflow: hidden;

      .ui-icon-common-user {
        display: flex;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
    }

    & &-name {
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
    }

    &-position {
      line-height: 28px;
      color: #505050;
    }
  }

  &-contacts {
    display: flex;
    flex-wrap: wrap;

    &-block {
      color: branches.$gray;

      @media screen and (min-width: breakpoints.$lg) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: breakpoints.$lg - 0.02) {
        margin-bottom: 10px;
      }

      &-title,
      &-body {
        display: block;
      }

      &-body {
        display: flex;
        align-items: center;
        margin-top: 5px;
      }

      & &-button {
        @include size(100%, 50px);

        color: #fff;
        background-color: #f9423a;
      }

      & &-button-icon {
        margin-right: 15px;
        font-size: 24px;
      }

      &-icon {
        --kt-mask-icon-color: var(--kt-ui-icon-primary);
        display: flex;
        align-items: center;

        .kt-mask-icon {
          flex-shrink: 0;
          --kt-mask-icon: var(--kt-ui-icon-clock);
        }
      }

      &--worktime {
        width: 50%;
      }

      &--phone,
      &--mail,
      &--address,
      &--actions {
        width: 100%;
      }
    }
  }
}

.branch-detail-direction-leader {
  &-slider {
    position: relative;
    z-index: 1;

    &.is-slider-mode {
      width: calc(100% - 120px);
      margin: 0 auto;
      cursor: default;

      @media screen and (max-width: breakpoints.$md - 0.02) {
        width: calc(100% - 70px);
      }

      [data-glide-el='track'] {
        margin: 0;
      }

      li {
        margin: unset;
      }
    }

    &:not(.is-slider-mode) {
      [data-glide-el='track'] {
        margin: 0 -7.5px;
      }
    }

    li {
      --leader-per-row: 3;
      --padding: 20px;

      width: calc(100% / var(--leader-per-row) - 15px);
      height: auto;
      flex-grow: 1;
      margin: 0 7.5px;
      list-style: none;
      padding: var(--padding);
      border-radius: var(--kt-ui-layout-border-radius-default);
      background-color: var(--kt-ui-white);

      @media screen and (max-width: breakpoints.$md - 0.02) {
        --leader-per-row: 2;
      }

      @media screen and (max-width: breakpoints.$sm - 0.02) {
        --leader-per-row: 1;
        --padding: 10px;
      }
    }

    [data-glide-btn-prev],
    [data-glide-btn-next] {
      @include trans-center-vertical;

      z-index: 2;
    }

    [data-glide-btn-prev] {
      left: -60px;

      @media screen and (max-width: breakpoints.$md - 0.02) {
        left: -45px;
      }
    }

    [data-glide-btn-next] {
      right: -60px;

      @media screen and (max-width: breakpoints.$md - 0.02) {
        right: -45px;
      }
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;

    &-header {
      display: flex;
      align-items: center;
      padding: 15px 0 0 15px;
    }

    &-icon {
      display: inline-flex;
      margin-right: 15px;
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      color: branches.$black;
    }

    &-body {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 20px;
    }

    &-avatar-wrapper {
      @include size(130px, 120px);

      min-width: 130px;
      position: relative;
      overflow: hidden;
    }

    &-avatar {
      @include size(93px !important);
      @include trans-center;

      transition: transform 300ms ease;
      will-change: transform;

      &:is(:hover, :focus) {
        transform: translate(-50%, -50%) scale(1.05);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-name,
    &-position {
      @include text-ellipsis;

      max-width: 100%;
      display: block;
    }

    & &-name {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
    }

    &-position {
      margin-top: 4px;
      line-height: 19px;
      color: branches.$gray;
    }
  }
}

.branch-detail-event {
  --per-row: 1;
  --row-offset: 0px;

  width: calc(100% / var(--per-row) - var(--row-offset));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: var(--kt-ui-layout-border-radius-default);
  background-color: rgba(245, 247, 249, 0.8);
  z-index: 1;

  @media screen and (min-width: breakpoints.$md) {
    height: 120px;
    flex-direction: row;
  }

  @media screen and (min-width: breakpoints.$lg) {
    --per-row: 2;
    --row-offset: 30px;
  }

  &-slider {
    position: relative;
    z-index: 1;

    &.is-slider-mode {
      width: calc(100% - 120px);
      margin: 0 auto;
      cursor: default;

      @media screen and (max-width: breakpoints.$md - 0.02) {
        width: calc(100% - 70px);
      }
    }

    [data-glide-btn-prev],
    [data-glide-btn-next] {
      @include trans-center-vertical;

      z-index: 2;
    }

    [data-glide-btn-prev] {
      left: -60px;

      @media screen and (max-width: breakpoints.$md - 0.02) {
        left: -45px;
      }
    }

    [data-glide-btn-next] {
      right: -60px;

      @media screen and (max-width: breakpoints.$md - 0.02) {
        right: -45px;
      }
    }
  }

  &-list {
    width: 100%;
    min-height: 280px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: border-box;

    @media screen and (max-width: breakpoints.$lg - 0.02) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &-date-wrapper {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: var(--kt-ui-layout-border-radius-default);
    background-color: var(--kt-ui-color-primary);
  }

  &-date-day,
  &-date-month {
    color: branches.$white;
  }

  &-date-day {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
  }

  &-date-month {
    font-size: 14px;
    line-height: 20px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-grow: 1;
  }

  &-title {
    @include text-ellipsis;

    max-width: calc(100% - 74px);
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: color 300ms ease;
    will-change: color;

    &:is(:hover, :focus, :active) {
      font-size: 18px;
      font-weight: 600;
    }

    @media screen and (max-width: breakpoints.$md - 0.02) {
      @include line-clamp(3);

      max-width: 100%;
      white-space: normal;
    }
  }

  &-location,
  &-time {
    .kt-mask-icon {
      flex-shrink: 0;
    }
  }

  &-time {
    margin-bottom: 6px;
    --kt-mask-icon: var(--kt-ui-icon-clock);
  }

  &-location {
    --kt-mask-icon: var(--kt-ui-icon-location);

    &-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 100px);
    }
  }

  &-actions {
    margin-top: 30px;

    .ui-btn {
      width: 100%;
    }
  }
}

#main_buttons_popup_top_menu_id_automation {
  @media screen and (max-width: 1023.98px) {
    transform: translateX(-20px);
    will-change: transform;
  }
}

.kt-ui-size-md {
  --kt-mask-icon-size: var(--kt-ui-size-md);
}
