.branch-detail-section {
  row-gap: 30px;
  position: relative;
}
.branch-detail-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
}
.branch-detail-section-wrapper .pgk-birthdays {
  background: #fff;
}
.branch-detail-section-wrapper .pgk-birthdays-slider {
  width: 75%;
}
.branch-detail-block {
  border-radius: var(--kt-ui-layout-border-radius-default);
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--kt-ui-white);
}
.branch-detail-block.leaders-block {
  background-color: #eeeaea;
}
@media screen and (min-width: 768px) {
  .branch-detail-block {
    padding: 30px;
  }
}
.branch-detail-block-header {
  margin-bottom: 30px;
}
.branch-detail-block-title {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .branch-detail-block-title {
    font-size: 20px;
  }
}

.branch-detail-block-content-inner {
  max-width: 700px;
}

.branch-detail-block-content-inner.branch-detail-block-content-inner-width {
  max-width: 100%;
}

.branch-detail-block .base-slider-button.ui-btn.kt-btn-icon {
  --ui-btn-background: var(--kt-ui-white);
  --ui-btn-background-hover: var(--kt-ui-gray-10-hover);
  --ui-btn-background-active: var(--kt-ui-gray-30);
  --ui-btn-border-color: transparent;
  --ui-btn-border-color-hover: transparent;
  --ui-btn-border-color-active: transparent;
}

.branch-detail-block .base-slider-button.ui-btn.kt-btn-icon.events-slider-button {
  --ui-btn-background: var(--kt-ui-gray-20);
}
.branch-detail-block .base-slider-button.ui-btn.kt-btn-icon:after {
  width: var(--kt-ui-size-md2);
  height: var(--kt-ui-size-md2);
  background: var(--kt-ui-icon-primary);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.branch-detail-block .base-slider-button.ui-btn.kt-btn-icon:hover:after, .branch-detail-block .base-slider-button.ui-btn.kt-btn-icon:active:after {
  background: var(--kt-ui-purple-60);
}
.branch-detail-block .base-slider-button.ui-btn.kt-btn-icon[data-glide-btn-prev] {
  --kt-mask-icon: var(--kt-ui-icon-chevron-left);
}
.branch-detail-block .base-slider-button.ui-btn.kt-btn-icon[data-glide-btn-next] {
  --kt-mask-icon: var(--kt-ui-icon-chevron-right);
}
.branch-detail-manager-card {
  display: flex;
  align-items: center;
}
.branch-detail-manager-card-hr {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  display: block;
  border: none;
  background-color: #e9e9e9;
}
.branch-detail-manager-card-avatar-wrapper {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.branch-detail-manager-card-avatar-wrapper .ui-icon-common-user {
  display: flex;
}
.branch-detail-manager-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.branch-detail-manager-card .branch-detail-manager-card-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
.branch-detail-manager-card-position {
  line-height: 28px;
  color: #505050;
}
.branch-detail-contacts {
  display: flex;
  flex-wrap: wrap;
}
.branch-detail-contacts-block {
  color: #505050;
}
@media screen and (min-width: 1280px) {
  .branch-detail-contacts-block {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1279.98px) {
  .branch-detail-contacts-block {
    margin-bottom: 10px;
  }
}
.branch-detail-contacts-block-title, .branch-detail-contacts-block-body {
  display: block;
}
.branch-detail-contacts-block-body {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.branch-detail-contacts-block .branch-detail-contacts-block-button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #f9423a;
}
.branch-detail-contacts-block .branch-detail-contacts-block-button-icon {
  margin-right: 15px;
  font-size: 24px;
}
.branch-detail-contacts-block-icon {
  --kt-mask-icon-color: var(--kt-ui-icon-primary);
  display: flex;
  align-items: center;
}
.branch-detail-contacts-block-icon .kt-mask-icon {
  flex-shrink: 0;
  --kt-mask-icon: var(--kt-ui-icon-clock);
}
.branch-detail-contacts-block--worktime {
  width: 50%;
}
.branch-detail-contacts-block--phone, .branch-detail-contacts-block--mail, .branch-detail-contacts-block--address, .branch-detail-contacts-block--actions {
  width: 100%;
}

.branch-detail-direction-leader-slider {
  position: relative;
  z-index: 1;
}
.branch-detail-direction-leader-slider.is-slider-mode {
  width: calc(100% - 120px);
  margin: 0 auto;
  cursor: default;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-direction-leader-slider.is-slider-mode {
    width: calc(100% - 70px);
  }
}
.branch-detail-direction-leader-slider.is-slider-mode [data-glide-el=track] {
  margin: 0;
}
.branch-detail-direction-leader-slider.is-slider-mode li {
  margin: unset;
}
.branch-detail-direction-leader-slider:not(.is-slider-mode) [data-glide-el=track] {
  margin: 0 -7.5px;
}
.branch-detail-direction-leader-slider li {
  --leader-per-row: 3;
  --padding: 20px;
  width: calc(100% / var(--leader-per-row) - 15px);
  height: auto;
  flex-grow: 1;
  margin: 0 7.5px;
  list-style: none;
  padding: var(--padding);
  border-radius: var(--kt-ui-layout-border-radius-default);
  background-color: var(--kt-ui-white);
}
@media screen and (max-width: 767.98px) {
  .branch-detail-direction-leader-slider li {
    --leader-per-row: 2;
  }
}
@media screen and (max-width: 575.98px) {
  .branch-detail-direction-leader-slider li {
    --leader-per-row: 1;
    --padding: 10px;
  }
}
.branch-detail-direction-leader-slider [data-glide-btn-prev],
.branch-detail-direction-leader-slider [data-glide-btn-next] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.branch-detail-direction-leader-slider [data-glide-btn-prev] {
  left: -60px;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-direction-leader-slider [data-glide-btn-prev] {
    left: -45px;
  }
}
.branch-detail-direction-leader-slider [data-glide-btn-next] {
  right: -60px;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-direction-leader-slider [data-glide-btn-next] {
    right: -45px;
  }
}
.branch-detail-direction-leader-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
}
.branch-detail-direction-leader-card-header {
  display: flex;
  align-items: center;
  padding: 15px 0 0 15px;
}
.branch-detail-direction-leader-card-icon {
  display: inline-flex;
  margin-right: 15px;
}
.branch-detail-direction-leader-card-title {
  font-size: 18px;
  font-weight: 600;
  color: #181818;
}
.branch-detail-direction-leader-card-body {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.branch-detail-direction-leader-card-avatar-wrapper {
  width: 130px;
  height: 120px;
  min-width: 130px;
  position: relative;
  overflow: hidden;
}
.branch-detail-direction-leader-card-avatar {
  width: 93px !important;
  height: 93px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms ease;
  will-change: transform;
}
.branch-detail-direction-leader-card-avatar:is(:hover, :focus) {
  transform: translate(-50%, -50%) scale(1.05);
}
.branch-detail-direction-leader-card-content {
  display: flex;
  flex-direction: column;
}
.branch-detail-direction-leader-card-name, .branch-detail-direction-leader-card-position {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: block;
}
.branch-detail-direction-leader-card .branch-detail-direction-leader-card-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.branch-detail-direction-leader-card-position {
  margin-top: 4px;
  line-height: 19px;
  color: #505050;
}

.branch-detail-event {
  --per-row: 1;
  --row-offset: 0px;
  width: calc(100% / var(--per-row) - var(--row-offset));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: var(--kt-ui-layout-border-radius-default);
  background-color: rgba(245, 247, 249, 0.8);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .branch-detail-event {
    height: 120px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .branch-detail-event {
    --per-row: 2;
    --row-offset: 30px;
  }
}
.branch-detail-event-slider {
  position: relative;
  z-index: 1;
}
.branch-detail-event-slider.is-slider-mode {
  width: calc(100% - 120px);
  margin: 0 auto;
  cursor: default;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-event-slider.is-slider-mode {
    width: calc(100% - 70px);
  }
}
.branch-detail-event-slider [data-glide-btn-prev],
.branch-detail-event-slider [data-glide-btn-next] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.branch-detail-event-slider [data-glide-btn-prev] {
  left: -60px;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-event-slider [data-glide-btn-prev] {
    left: -45px;
  }
}
.branch-detail-event-slider [data-glide-btn-next] {
  right: -60px;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-event-slider [data-glide-btn-next] {
    right: -45px;
  }
}
.branch-detail-event-list {
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 1279.98px) {
  .branch-detail-event-list {
    flex-direction: column;
    justify-content: center;
  }
}
.branch-detail-event-date-wrapper {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: var(--kt-ui-layout-border-radius-default);
  background-color: var(--kt-ui-color-primary);
}
.branch-detail-event-date-day, .branch-detail-event-date-month {
  color: #ffffff;
}
.branch-detail-event-date-day {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
}
.branch-detail-event-date-month {
  font-size: 14px;
  line-height: 20px;
}
.branch-detail-event-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex-grow: 1;
}
.branch-detail-event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 74px);
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 300ms ease;
  will-change: color;
}
.branch-detail-event-title:is(:hover, :focus, :active) {
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 767.98px) {
  .branch-detail-event-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
    white-space: normal;
  }
}
.branch-detail-event-location .kt-mask-icon, .branch-detail-event-time .kt-mask-icon {
  flex-shrink: 0;
}
.branch-detail-event-time {
  margin-bottom: 6px;
  --kt-mask-icon: var(--kt-ui-icon-clock);
}
.branch-detail-event-location {
  --kt-mask-icon: var(--kt-ui-icon-location);
}
.branch-detail-event-location-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 100px);
}
.branch-detail-event-actions {
  margin-top: 30px;
}
.branch-detail-event-actions .ui-btn {
  width: 100%;
}

@media screen and (max-width: 1023.98px) {
  #main_buttons_popup_top_menu_id_automation {
    transform: translateX(-20px);
    will-change: transform;
  }
}

.kt-ui-size-md {
  --kt-mask-icon-size: var(--kt-ui-size-md);
}
