@use "../../../../../../../src/styles/vars/foundation/branches";
@use "../../../../../../../src/styles/vars/transition";
@use "../../../../../../../src/styles/vars/breakpoints";

.branch-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;

  &-item {
    --branch-in-row: 4;

    flex-basis: calc(100% / var(--branch-in-row) - 20px);
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: var(--kt-ui-layout-border-radius-default);
    overflow: hidden;

    @media screen and (max-width: breakpoints.$xl) {
      --branch-in-row: 4;
    }

    @media screen and (max-width: breakpoints.$lg) {
      --branch-in-row: 3;
    }

    @media screen and (max-width: 1023px) {
      --branch-in-row: 2;
    }

    @media screen and (max-width: breakpoints.$sm) {
      --branch-in-row: 1;
    }

    &:hover &-image {
      transform: scale(1.05);
    }

    &-image {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: transform transition.$time transition.$func;

      &-wrapper {
        height: branches.$grid-image-height;
        overflow: hidden;
      }
    }

    &-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px;
      background-color: var(--c-ui-company-branch-bg, var(--kt-ui-white));

      @media screen and (max-width: 1023px) {
        padding: 10px 15px;
      }
    }

    & &-title {
      margin-bottom: auto;
      font: 16px/25px "OpenSans-Semibold", sans-serif;
    }

    &-local-time {
      margin-top: 10px;
      font: 14px/20px "OpenSans-Regular", sans-serif;
      color: branches.$gray;
    }
  }
}
