.kt-link--primary-theme {
  --ui-link-color-color: var(--kt-ui-link-primary);
  --ui-link-color-hover: var(--kt-ui-link-primary-hover);
  --ui-link-color-active: var(--kt-ui-link-primary-active);
  --ui-link-color-focus: var(--kt-ui-link-primary-focus);
  --ui-link-color-disabled: var(--kt-ui-link-primary-disabled);
}
