$main-blue: #002f47;
$main-red: #121239;
$main-lilac: #7949f4;
$main-white: #ffffff;
$main-violet: #121239;
$main-brand-red: #f9423a;

$red: #ff0000;
$additional-green: #71f270;
$black: #000000;
$additional-gray: #a2acab;
$gray-bg: #f2f2f2;

$red-main: #121239;
$red-second: #121239;
$red-state-hover: #7949F4;
$red-state-active: #7949F4;
$red-dark: #121239;
$red-translucent: rgba(198, 4, 64, 0.15);
$red-error-text: #e9292c;
$red-error-border: rgba(233, 41, 44, 0.25);

$blue: #3385ff;
$blue-tile-bg: #e5f5fd;
$green: #abcb57;

$gray: #505050;
$gray-lighter: #f5f7f9;
$link-gray: #535c69;

$white: #ffffff;
$white-translucent: rgba(245, 247, 249, 0.8);
$black: #181818;
$blue-main: #121239;
$black-shadow: rgba(0, 0, 0, 0.1);

$gray-steel: #818b9a;
