.kt-tag--green-theme.kt-tag--inline {
  --kt-tag-bg: var(--kt-ui-tag-green-50);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-green-20-hover);

  &.q-chip--selected {
    --kt-tag-bg: var(--kt-ui-tag-green-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-green-50-hover);
  }
}
