.kt-tag--red-theme {
  --kt-tag-bg: var(--kt-ui-tag-red-20);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-red-20-hover);

  &.q-chip--selected {
    --kt-tag-color: var(--kt-ui-white);
    --kt-tag-bg: var(--kt-ui-tag-red-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-red-50-hover);
  }
}
