.kt-btn--tertiary-theme {
  --kt-btn-color: var(--kt-ui-text-primary);
  --kt-btn-color-hover: var(--kt-ui-text-accented);
  --kt-btn-color-active: var(--kt-ui-text-accented);
  --kt-btn-color-disabled: var(--kt-ui-text-disabled);

  --kt-btn-border-color: var(--kt-ui-button-tertiary);
  --kt-btn-border-color-hover: var(--kt-ui-button-tertiary);
  --kt-btn-border-color-active: var(--kt-ui-button-tertiary);
  --kt-btn-border-color-disabled: var(--kt-ui-button-disabled);

  --kt-btn-bg-color: var(--kt-ui-transparent-01);
  --kt-btn-bg-color-hover: var(--kt-ui-button-tertiary-hover);
  --kt-btn-bg-color-active: var(--kt-ui-button-tertiary-active);
  --kt-btn-bg-color-disabled: var(--kt-ui-transparent-01);
}
