:root {
  --kt-deputy-period-color: var(--c-deputy-period-color, var(--kt-ui-text-primary));

  --kt-deputy-user-separator-offset: var(--c-deputy-user-separator-offset, var(--kt-ui-offset-lg));
  --kt-deputy-user-separator-bg: var(--c-deputy-user-separator-bg, var(--kt-ui-gray-20-hover));
}
