@use "../colors";

$business-sign-size: 52px;
$business-sign-border-radius: 6px;

$white: colors.$white;
$black: rgba(0, 0, 0, 0.15);
$red-main: colors.$red-main;
$red-state-active: colors.$red-state-active;
$red-translucent: colors.$red-translucent;
$gray-steel: #818b9a;
$gray-text: #535c69;
$gray-business-sign-bg: #eef2f4;