.kt-link--dark-theme {
  --ui-link-color: var(--kt-ui-link-dark);
  --ui-link-color-hover: var(--kt-ui-link-dark-hover);
  --ui-link-color-active: var(--kt-ui-link-dark-active);
  --ui-link-color-focus: var(--kt-ui-link-dark-focus);
  --ui-link-color-disabled: var(--kt-ui-link-dark-disabled);
}
