.kt-tag--cyan-theme {
  --kt-tag-bg: var(--kt-ui-tag-cyan-20);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-cyan-20-hover);

  &.q-chip--selected {
    --kt-tag-color: var(--kt-ui-white);
    --kt-tag-bg: var(--kt-ui-tag-cyan-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-cyan-50-hover);
  }
}
