.kt-tag--cyan-theme.kt-tag--inline {
  --kt-tag-bg: var(--kt-ui-tag-cyan-50);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-cyan-20-hover);

  &.q-chip--selected {
    --kt-tag-bg: var(--kt-ui-tag-cyan-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-cyan-50-hover);
  }
}
