.kt-tag--default-theme.kt-tag--inline {
  --kt-tag-bg: var(--kt-ui-tag-default);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-default-hover);

  &.q-chip--selected {
    --kt-tag-bg: var(--kt-ui-tag-default);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-default-hover);
  }
}
