.kt-tag--blue-theme.kt-tag--inline {
  --kt-tag-bg: var(--kt-ui-tag-blue-50);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-blue-20-hover);

  &.q-chip--selected {
    --kt-tag-bg: var(--kt-ui-tag-blue-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-tag-blue-50-hover);
  }
}
