:root {
  --kt-contact-edit-table-title-width: var(--c-contact-edit-table-title-width, 130px);
  --kt-contact-edit-table-title-color: var(--c-contact-edit-table-title-color, var(--kt-ui-text-primary));
}
