.kt-tag--yellow-theme {
  --kt-tag-bg: var(--kt-ui-tag-yellow-20);
  --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-yellow-20-hover);

  &.q-chip--selected {
    --kt-tag-color: var(--kt-ui-white);
    --kt-tag-bg: var(--kt-ui-tag-yellow-50);
    --kt-tag-remove-btn-bg-hover: var(--kt-ui-tag-yellow-50-hover);
  }
}
